@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// Fonts
$font-logo: 'Questrial', sans-serif;

$font-header: 'Anton', sans-serif;
$font-header-2: 'Oswald', sans-serif;
$font-default: 'Lato', sans-serif;

// COLORS 
$color-test-1: #D7E0FE;
$color-test-2: #05299E;
$logo-lightblue: #BCC8F1;
$logo-blue: #2E4DB1;
$spider-red: #A30707;

// Responsive Breakpoints
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px