@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

// Fonts
$font-logo: 'Questrial', sans-serif;
// $font-logo: 'Montserrat Alternates', sans-serif;

$color-test-1: #D7E0FE;
$color-test-2: #05299E;
