*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }

body {
  background-color: black;
  color: white; }

body {
  font-size: 1.6rem;
  color: white; }
