.home {
  font-size: 1.6rem;
  // overflow: none;

  // h1 {
  //   font-family: $font-logo;
  //   font-size: 4rem;
  //   color: $color-test-1;

  //   font-size: 80rem;
  //   font-size: 25rem;
  //   background: -webkit-linear-gradient($color-test-1, $color-test-2);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;

  //   margin: 5rem;
  // }

  // display: grid;
  // grid-template-rows: 60rem repeat(6, 25rem);
  display: flex;
  flex-direction: column;
  gap: 3em;

  &__featured {
    background-color: grey;
  }

  &__slider {
    position: relative;

    &:nth-child(even) {
      background-color: purple;
    }
  }
}