@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }

body {
  background-color: black;
  color: white; }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: white; }

.heading-1 {
  font-family: "Questrial", sans-serif;
  font-size: 4rem;
  color: #D7E0FE;
  font-size: 25rem;
  background: -webkit-linear-gradient(#D7E0FE, #05299E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5rem; }

.btn {
  text-decoration: none;
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center; }
  .btn--featured {
    margin: 1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #404040;
    width: 15rem;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    transition: all .4s; }
    @media only screen and (max-width: 68.75em) {
      .btn--featured {
        width: 12rem; } }
    .btn--featured, .btn--featured:active, .btn--featured:visited {
      color: white; }
    .btn--featured:hover {
      background-color: black; }

.slider {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */ }
  .slider__title {
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    margin-left: 1rem; }
  .slider__box {
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    /* Chrome, Safari and Opera */
    /* IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .slider__box::-webkit-scrollbar {
      display: none; }
  .slider__content {
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    /* Chrome, Safari and Opera */
    /* IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .slider__content::-webkit-scrollbar {
      display: none; }
  .slider__button {
    position: absolute;
    top: 0%;
    font-size: 3rem;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;
    z-index: 5; }
    @media only screen and (max-width: 31.25em) {
      .slider__button {
        display: none; } }
    .slider__button--left {
      left: 0; }
    .slider__button--right {
      right: 0; }
  .slider:hover .slider__button {
    opacity: 1; }
  .slider__card {
    height: 20rem;
    cursor: pointer;
    transitioN: all .4s;
    position: relative;
    opacity: .75; }
    .slider__card:hover {
      opacity: 1;
      transform: scale(0.9); }
      @media only screen and (max-width: 31.25em) {
        .slider__card:hover {
          transform: scale(1); } }

.featured {
  position: relative;
  overflow: hidden;
  margin-top: 5vh; }
  .featured__poster {
    width: 100%;
    background-position: center;
    position: absolute;
    bottom: 0;
    z-index: -1; }
  .featured__textbox {
    position: absolute;
    top: 40%;
    width: 30%;
    height: 50%;
    margin-left: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .featured__textbox {
        width: 40%; } }
    @media only screen and (max-width: 56.25em) {
      .featured__textbox {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .featured__textbox {
        width: 90%; } }
  .featured__title {
    font-family: "Anton", sans-serif; }
    .featured__title--main {
      display: block;
      font-size: 7rem; }
      @media only screen and (max-width: 68.75em) {
        .featured__title--main {
          font-size: 5rem; } }
    .featured__title--sub {
      display: block;
      font-size: 4rem; }
  .featured__description {
    padding: 1rem 0; }

.home-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  height: 8vh;
  box-sizing: border-box;
  background-color: #000; }
  .home-nav__logo--large {
    height: 4rem;
    margin-left: 3rem;
    margin-bottom: .4rem;
    transition: all .2s;
    align-self: center;
    cursor: pointer; }
    .home-nav__logo--large:hover {
      transform: scale(1.05); }
    @media only screen and (max-width: 56.25em) {
      .home-nav__logo--large {
        display: none; } }
  .home-nav__logo--small {
    height: 4rem;
    align-self: center;
    margin-left: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .home-nav__logo--small {
        display: none; } }
    @media only screen and (max-width: 31.25em) {
      .home-nav__logo--small {
        margin-left: 0;
        height: 3rem; } }
  .home-nav__search-form {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .home-nav__search-input {
    font-family: sans-serif;
    font-size: inherit;
    color: white;
    background-color: #1a1a1a;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    @media only screen and (max-width: 37.5em) {
      .home-nav__search-input {
        min-width: 25rem; }
        .home-nav__search-input:focus {
          min-width: 28rem; } }
    .home-nav__search-input:focus {
      outline: none;
      width: 100%;
      background-color: #262626; }
    .home-nav__search-input::-webkit-input-placeholder {
      font-weight: 100;
      color: white; }
  .home-nav__search-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    transform: translateX(-0.5rem); }
    .home-nav__search-button--icon {
      height: 2rem;
      width: 2rem;
      fill: white; }
  .home-nav__user-nav {
    display: flex; }
  .home-nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer; }
    @media only screen and (max-width: 31.25em) {
      .home-nav__user {
        margin-right: 0rem; } }
    .home-nav__user:hover .home-nav__user--name {
      color: white; }
    .home-nav__user:hover .home-nav__user--photo {
      transform: scale(1.05);
      border: 2px solid white; }
    .home-nav__user--photo {
      height: 3.75rem;
      border-radius: 50%;
      border: 2px solid gray;
      transition: all .3s; }
      @media only screen and (max-width: 31.25em) {
        .home-nav__user--photo {
          height: 3rem;
          width: 3rem;
          margin-right: 0; } }
  .home-nav__user-icon-box {
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 31.25em) {
      .home-nav__user-icon-box {
        margin-right: 0; } }
  .home-nav__user-settings {
    color: gray;
    height: 3.75rem;
    width: 3.75rem;
    transition: all .3s;
    cursor: pointer; }
    .home-nav__user-settings:hover {
      animation: spin 1s linear infinite;
      transform: scale(1.05);
      color: white; }
    @media only screen and (max-width: 31.25em) {
      .home-nav__user-settings {
        height: 3rem;
        width: 3rem;
        margin-right: 0; } }

.home {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 60rem repeat(6, 25rem); }
  .home__featured {
    background-color: grey; }
  .home__slider {
    position: relative; }
    .home__slider:nth-child(even) {
      background-color: purple; }
