@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }

body {
  background-color: black;
  color: white; }

body {
  font-size: 1.6rem;
  color: white; }

.home {
  font-size: 1.6rem; }
  .home h1 {
    font-family: "Questrial", sans-serif;
    font-size: 4rem;
    color: #D7E0FE;
    font-size: 80rem;
    font-size: 10rem;
    background: -webkit-linear-gradient(#D7E0FE, #05299E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5rem; }
