.btn {
  // anchor
  text-decoration: none;
  // button
  border: none;

  // &:active,
  // &:visited {
  //   color: black;
  // }

  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // &__icon {

  // }

  // &__text {
  //   border: 1px solid blue;
  // }

  &--watch, 
  &--logout {
    padding: 1rem 2rem;
    background-color: $logo-blue;
    border-radius: 1rem;
    color: white;
    width: 18rem;
    text-align: center;
    transition: all .2s ease-in-out;
    box-shadow: 3px 3px 3px darken(white, 80%);

    &:hover {
      transform: translateY(-8%);
      box-shadow: 5px 5px 5px darken(white, 30%);
    }

    &:active {
      transform: translate(0);
      box-shadow: 3px 3px 3px darken(white, 80%);
    }

    &:not(:last-child) {
      margin: 1rem;
    }
  }

  &--logout {
    background-color: darken($logo-lightblue, 15);
  }

  &--featured {
    margin: 1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: lighten(black, 25);
    width: 15rem;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    transition: all .4s;

    @media only screen and (max-width: $bp-large) {
      width: 12rem;
    }

    &,
    &:active,
    &:visited {
      color: white;
    }

    &:hover {
      background-color: black;
    }
  }
}

.icon-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 3px 25px 2px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;

  &__secondary {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(#141414, 0.5);
    color: white;

    &:hover {
      background-color: rgba(#141414, 0.75);
    }

    .info-icon {
      font-size: 1.5em;
      margin-right: 5px;
    }
  }

  &:hover {
    background-color: rgba(white, 0.75);
  }

  .play-icon {
    font-size: 2em;
  }


}