.slider {

  // Remove Text Selection Highlight
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  &__title {
    font-size: 3rem;
    font-family: $font-header-2;
    margin-left: 1rem;
  }

  &__box {
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
  
    position: relative;
  
    // HIDE SCROLL
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  
    /* IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  &__content {
    display: flex;
    gap: 7px;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
  
    position: relative;
  
    // HIDE SCROLL
    /* Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  
    /* IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }


  &__button {
    position: absolute;
    top: 0%;
    font-size: 3rem;
    height: 100%;
    background: linear-gradient(rgba(black, .5), rgba(black, .5));
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;
    z-index: 5;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
    
    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

  }

  &:hover &__button {
    opacity: 1;
  }

  &__card {
    height: 16rem;
    cursor: pointer;
    border-radius: 3px;
    transitioN: all .4s;
    position: relative;
    opacity: .75;
    
    &:hover {
      opacity: 1;
      transform: scale(.9);

      @media only screen and (max-width: $bp-smallest) {
        transform: scale(1);
      }
    }
  }

  &__number-container {
    display: flex;
    align-items: center;

    &__number {
      height: 22rem;
    }
  }

  &__tall-card {
    position: absolute;
    left: -20px;
    z-index: 1;
    height: 22rem;
    cursor: pointer;
    border-radius: 3px;
    transitioN: all .4s;
    position: relative;
    opacity: .9;
    
    &:hover {
      opacity: 1;
      transform: scale(.9);

      @media only screen and (max-width: $bp-smallest) {
        transform: scale(1);
      }
    }
  }

  .empty {
    background-color: #141414;
  }

  .loading-animation {    
    background-image: none !important; 
    animation: fade 3s ease-in-out infinite, pulse ease-in-out 3s infinite; 
  }
}

.margin-left {
  // margin-left: 80px;  // TODO: move sliders off left border until slid
}
