.featured {
  position: relative;
  overflow: hidden;
  margin-top: 5vh;

  &__poster {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  &__textbox {
    position: absolute;
    top: 40%;
    width: 30%;
    height: 50%;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-large) {
      width: 40%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 90%;
    }
  }

  &__title {
    font-family: $font-header;

    &--main {
      display: block;
      font-size: 7rem;

      @media only screen and (max-width: $bp-large) {
        font-size: 5rem;
      }
    }

    &--sub {
      display: block;
      font-size: 4rem;
    }
  }

  &__description {
    padding: 1rem 0;
  }
}